<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reservation.end_time %>
</p>

<p>
  <strong>Table:</strong>
  <%= @reservation.table %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation), class: 'link' %> |
<%= link_to 'Back', reservations_path, class: 'link' %>
